
.card{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width:400px ;
    margin:0px auto ;
   /*  margin-right: auto;
    margin-top: 150px;
    margin-left: auto; */
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom:6px solid #d8cefe;
    /*background-color:rgb(187, 227, 239);*/
    
}
.avatar{
    width:150px ;
    /*
    padding-left:18px ;
    padding-right:22px ;
    padding-top:10px ;
    padding-bottom: 10px;
    */
}


body{
    margin:20px;
    font-family: Verdana,Verdana, Geneva, Tahoma, sans-serif;

}
